<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            <h4> Choose the duration in which you want to assign the deadline! </h4>
            <div id="calendar-details">
                <div class="check-in">
                    <h5>Start date</h5>
                    <h6 id="check-in-date">Choose a date</h6>
                </div>
                <div class="arrow"></div>
                <div class="check-out">
                    <h5>End date</h5>
                    <h6 id="check-out-date">Choose a date</h6>
                </div>
            </div>
            <div id="calendar"></div>
            <h4> Enter the number of days for deadline! </h4>
            <input class="w3-input w3-border w3-round" type="text">
            <div id="buttons">
                <button class="sub-btn" type="submit">Get suggestion</button>
                <button class="sub-btn" type="submit" onclick="goBack()">Done</button>
            </div>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>